/* ------Generics------ */
/* CSS RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

button {
    padding: 10px;
    border-radius: 25px;
    background-color: #fff;
    border: none;
}

h1,
h2 {
    font-size: 3vw;
}

/* button:hover {
    background-color: aqua;
} */

/* ------Utilities------ */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.col-gap {
    column-gap: 40px;
}

.flex {
    display: flex;
}

.centered {
    text-align: center;

}

.padding {
    padding: 4% 20% 8%;

}

.col {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

/* ------Content------ */
/* INTRODUCTION */
header {
    background-repeat: no-repeat;
    background-image: url(img/jumbo.png);
    background-size: cover;
    color: white;

}

nav {
    padding: 10px;
    justify-content: space-between;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    align-self: center;
}

header a:visited {
    color: #fff;
}

header p {
    display: inline-block;
    padding: 5% 0;
}

article button {
    margin: 1%;
    padding: 10px 15px;
}


article button:nth-of-type(2) {
    background-color: #23272a;
    color: #fff;
}

/* end INTRODUCTION */

/* CONTENT */
article p {
    display: inline-block;
    padding: 5% 0;
}

main figure {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/item1.svg);
}

main figure,
main section>article {
    flex-basis: 50%;
}

main section>article {
    background-color: bisque;
    padding: 10%;
}

main>section {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    background-color: #00ff1159;
}

main section:nth-of-type(even) {
    background-color: rgb(226, 186, 43);
}

main section:nth-of-type(2) figure {
    order: 1;
}

/* end CONTENT */

/* INFO */
footer div {
    padding: 10px;
    justify-content: space-between;
}

footer {
    background-color: brown;
}

/* end INFO */