/* ------Generics------ */
/* CSS RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

h1,
h2 {
    font-size: 3vw;
}

/* BUTTONS property */
button {
    padding: 10px;
    border-radius: 25px;
    background-color: #fff;
    border: none;
}


article button,
div>button {
    margin: 1%;
    padding: 10px 15px;
}


article button:nth-of-type(2),
div>button {
    background-color: #23272a;
    color: #fff;
}

.lightblue {
    background-color: #8ea1e1;
}

/* end BUTTONS */

/*
fare in modo che cambi la freccia quando si passa sul bottone
*/

/* ------Utilities------ */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.col-gap {
    column-gap: 40px;
}

.flex {
    display: flex;
}

.centered {
    text-align: center;

}

.padding {
    padding: 4% 20% 8%;

}

.col {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

/* .space-between {
    justify-content: space-between;
} */

/* ------Content------ */
/* INTRODUCTION */
header {
    background-repeat: no-repeat;
    background-image: url(img/jumbo.png);
    background-size: cover;
    color: white;

}

header nav {
    padding: 10px;
    justify-content: space-between;
    font-weight: bold;
}

header nav a {
    text-decoration: none;
    align-self: center;
    color: #fff;
}

header a:visited,
footer a:visited {
    color: #fff;
}

header p {
    display: inline-block;
    padding: 5% 0;
}

/* end INTRODUCTION */

/* CONTENT */
article p {
    display: inline-block;
    padding: 5% 0;
}


main figure,
main section>article {
    flex-basis: 50%;
}

main section>article {
    /* background-color: bisque; */
    padding: 10%;
}

main>section {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* background-color: #00ff1159; */
}

main section:nth-of-type(even) {
    background-color: #f6f6f6;
}

main section:nth-of-type(2) {
    flex-direction: row-reverse;
}

main figure,
div>h3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.col.centered.container article {
    padding-bottom: 2%;
}

#space {
    background-image: url(img/item1.svg);
}

#voice {
    background-image: url(img/item2.svg);
}

#community {
    background-image: url(img/item3.svg);
}

#quality {
    background-image: url(img/item4-big.svg);
    padding: 30% 50%;
}

div>h3 {
    display: block;
    background-image: url(img/stars.svg);
    padding: 2% 0;
}

.img {
    background-image: url(img/wave.svg);
    padding: 30% 50%;
}

/* end CONTENT */

/* INFO */
footer>div {
    padding: 10px;
    justify-content: space-between;
}

footer {
    background-color: #23272a;
    padding: 50px;
}

footer a {
    text-decoration: none;
    color: #fff;
    padding: 10px 0;
}

footer select {
    border: none;
    background-color: #23272a;
    color: #fff;
}

.language {
    padding: 15px 0;
}

#bigger {
    font-size: 2rem;
}

#flag {
    height: 20px;
}

footer h4 {
    color: #7289da;
}




/* end INFO */